<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>conditions</h1>

    {% if a > 10 %}

        <h1>{{a}}</h1>

    {% endif %}

-->
    <h1>if else</h1>
    {% if a > b %}
    <h1>if block</h1>
    <h1>A is greater than B</h1>
    {% else %}
    <h1>else block</h1>
    <h1>B is greater than A</h1>
    {% endif %}
-->
    <h1>if-elif-else</h1>
    {% if a > b and a > c %}
    <h1>if block</h1>
    <h1>A is greater than B,C</h1>
    {% elif b > c %}
    <h1>elif block</h1>
    <h1>B is greater than A,C</h1>
    {% else %}
    <h1>else block</h1>
    <h1>C is greater than B,A</h1>
    {% endif %}
-->
    <h1>nested if</h1>
    {% if a > b %}
        {% if a > c %}
        <h1>if block</h1>
        <h1>A is Max</h1>
        {% else %}
        <h1>else block</h1>
        <h1>C is max</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
        <h1>if block</h1>
        <h1>B is Max</h1>
        {% else %}
        <h1>else block</h1>
        <h1>C is max</h1>
        {% endif %}
    {% endif %}
    </center>
</body>
</html>